@font-face {
    font-family: Exo;
    src: 
        url(fonts/Exo-Medium.ttf),
        url(fonts/Exo-Semi.ttf);
}

h1 {
    color:white;
    font: 32px Exo;
    font-weight: 700;
    background-image: url(https://osu.ppy.sh/images/headers/profile-covers/c4.jpg);
    height: 15%;
}

h3 {
    font: 24px Exo;
    font-weight: 550;
}

h3 {
    font: 20px Exo;
    font-weight: 450;
}

h5 {
    font: 16px Exo;
    font-weight: 350;
}

h7 {
    font: 14px Exo;
    font-weight: 150;
}