@font-face {
    font-family: Exo;
    src: 
        url(fonts/Exo-Medium.ttf),
        url(fonts/Exo-Semi.ttf);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }

li {
    float: left;
    background-color: #333;
    border-right: 1px solid #bbb;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font: 16px Exo;
}

h3>ul>li:hover {
    background-color:rgb(100,150,215);
}

form {
    float: right;
    padding-top: 24px;
    padding-right: 10px;
    background-color: #333;
}

.active {
    background-color: #4CAF50;
}

.pagenav {
    color: #000;
    padding: 6px 6px;
    background-color: rgb(0, 132, 255);
    font: 14px Exo;
}

.pagecount {
    color: #000;
    padding: 6px;
    padding-left: 45px;
    padding-right: 45px;
    background-color: #fff;
    font: 14px Exo;
}

.pagerow {
    background-color: #fff;
}

.queryshow {
    color: white;
    padding-left: 10px;
    display: inline-table;
    background-color: #333;
}

.queryall {
    max-height: 55px;
    border-top: 2px solid #bbb;
    background-color: #333;
}

#rcorners {
    border-radius: 8px;
    margin-right: 15px;
    background-color: white;
    padding: 8px;
    width: 200px;
    height: 25px;  
}

#rcorners2 {
    border-radius: 8px;
    border: 2px solid greenyellow;
    background-color: greenyellow;
    width: 80px;
    height: 25px;  
}
