@font-face {
    font-family: Exo;
    src: 
        url(fonts/Exo-Medium.ttf),
        url(fonts/Exo-Semi.ttf);
}


td a {
    display: block;
    text-decoration: none;
    color: black;
    font: 14px Exo;
}

td {
    font: 14px Exo;
    padding-left: 12px;
}

th {
    font: 16px Exo;
    font-weight: 650;
}

table, th, td {
    border-bottom: 1px solid #ddd;
    text-align:center;
}

tbody>tr>td:nth-child(3) {
    text-align:start !important;
}

tr:nth-child(even) {
    background-color: rgba(0, 0, 0, 0.15);
}

.item:hover {
    background-color:rgb(100, 150, 215)
